:host {
  display: flex;
}

::slotted(p) {
  margin: 0;
}

.item {
  width: 100%;
  padding: var(--message-padding-between);
}

.footer {
  position: absolute;
  right: var(--message-padding-content);
  bottom: 2px;
  display: flex;
  align-items: center;
}

.footer-text {
  color: lightslategray;
  font-size: 15px;
  padding-right: 2px;
}

.outgoing {
  background-color: var(--message-outgoing-color);
}

.incoming {
  background-color: var(--message-incoming-color);
}

.bubble {
  padding: var(--message-padding-content) var(--message-padding-content) 18px var(--message-padding-content);
  min-width: 100px;
  position: relative;
  border-radius: var(--message-round-size);
}

.align-left {
  margin: 0 0 0 var(--message-padding-content);
  float: left;
}

.align-right {
  margin: 0 var(--message-padding-content) 0 0;
  float: right;
}

.triangle {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: var(--message-round-size) solid;
  border-color: var(--message-fill-color) transparent transparent transparent;
}

.top-right:after {
  top: 0;
	right: var(--message-round-size-negative);
}

.bottom-right {
  bottom: 0;
	right: var(--message-round-size-negative);
}

.bottom-left {
  bottom: 0;
	left: var(--message-round-size-negative);
}

.top-left {
  top: 0;
  left: var(--message-round-size-negative);
}
