.container {
  padding: var(--message-padding-between);
}

.footer {
  position: absolute;
  right: var(--message-padding-content);
  bottom: 2px;
  display: flex;
  align-items: center;
}

.footer-text {
  color: lightslategray;
  font-size: 15px;
  padding-right: 2px;
}

.bubble {
  padding: var(--message-padding-content) var(--message-padding-content) 18px var(--message-padding-content);
  min-width: 100px;
  position: relative;
  background-color: var(--message-fill-color);
  border-radius: var(--message-round-size);
}

.align-left {
  margin: 0 0 0 var(--message-padding-content);
  float: left;
}

.align-right {
  margin: 0 var(--message-padding-content) 0 0;
  float: right;
}

.triangle-top-right:after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: var(--message-round-size) solid;
  border-color: var(--message-fill-color) transparent transparent transparent;
  top: 0;
	right: var(--message-round-size-negative);
}

.triangle-bottom-right:after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: var(--message-round-size) solid;
  border-color: transparent transparent var(--message-fill-color) transparent;
  bottom: 0;
	right: var(--message-round-size-negative);
}

.triangle-bottom-left:after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: var(--message-round-size) solid;
  border-color: transparent transparent var(--message-fill-color) transparent;
  bottom: 0;
	left: var(--message-round-size-negative);
}

.triangle-top-left:after {
  content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: var(--message-round-size) solid;
  border-color: var(--message-fill-color) transparent transparent transparent;
  top: 0;
  left: var(--message-round-size-negative);
}
