.container {
    display: inline-block;
    width: 18px;
    height:18px;
    transform: translate(-3px, -1px) rotate(45deg);
}

.checkmark-stem {
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: var(--message-checkmark-color);
    right: 0px;
    bottom: 4px;
}

.checkmark-kick {
    position: absolute;
    width: 5px;
    height: 2px;
    background-color: var(--message-checkmark-color);
    right: 1px;
    bottom: 4px;
}

.checkmark-kick-half {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: var(--message-checkmark-color);
    right: 1px;
    bottom: 4px;
}

.checkmark-second-stem {
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: var(--message-checkmark-color);
    right: 4px;
    bottom: 0px;
}

.checkmark-second-kick {
    position: absolute;
    width: 5px;
    height: 2px;
    background-color: var(--message-checkmark-color);
    right: 4px;
    bottom: 0px;
}
